{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Основна сторінка</title>
</head>

<body>
    <header>
            {% include 'header.html' %}
            <div class="auth-buttons">
                <a href="{% url 'login' %}">Увійти</a>
                <a href="{% url 'registration' %}">Зареєструватися</a>
            </div>
    </header>

    <main>
        <p>Наш продукт створений, щоб ви могли читати книжки і стежити за своєю статистикою в реальному часі, та ділиться
            нею з
            друзями.
        </p>
        <table>
            <tr>
                <td>
                    <div class="gif-container">
                        <img class="gif" src="https://i.gifer.com/54vL.gif" alt="Your GIF">
                    </div>
                </td>
                <td>
                    <div class="gif-container">
                        <img class="gif" src="https://i.gifer.com/6kq.gif" alt="Your GIF">
                    </div>
                </td>
            </tr>
        </table>
        
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>

</html>